# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# ignore firebase files
evaluator-890d1-410107ba1f7f.json
firebase-appdist-service-account.json
google-services.json
