# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# Google Services:
android/app/google-services.json
android/app/evaluator-890d1-firebase-adminsdk-fbsvc-432c00f521.json
